.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.cards1 {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 0px 1px rgba(198, 200, 208, 1);
  width: 315px;
  height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  border-radius: 0px;
}
.content {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 16px;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-right: 0px;
  height: 217px;
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.badgesNeutral {
  background: rgba(236, 238, 244, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 4px;
  padding: 4px 8px;
}
.badgesNeutral > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.badgesNeutral > :global(.__wab_flex-container) > *,
.badgesNeutral > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.badgesNeutral > :global(.__wab_flex-container) > picture > img,
.badgesNeutral
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__kavn8 {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.003em;
  line-height: 18px;
  color: rgba(62, 64, 71, 1);
  position: relative;
}
.title {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
}
.text__rhRbz {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(91, 95, 111, 1);
  align-self: stretch;
  position: relative;
}
