.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  background: var(--token--NIb9LV5wbB);
  min-width: 0;
  min-height: 0;
  padding: 10px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___6TIjG {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token--TQGjKbsLaL);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox___6TIjG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6TIjG > :global(.__wab_flex-container) > *,
.freeBox___6TIjG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6TIjG > :global(.__wab_flex-container) > picture > img,
.freeBox___6TIjG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox___6TIjG {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox___6TIjG > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___6TIjG > :global(.__wab_flex-container) > *,
  .freeBox___6TIjG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6TIjG > :global(.__wab_flex-container) > picture > img,
  .freeBox___6TIjG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___81Rvd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox___81Rvd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___81Rvd > :global(.__wab_flex-container) > *,
.freeBox___81Rvd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___81Rvd > :global(.__wab_flex-container) > picture > img,
.freeBox___81Rvd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox___81Rvd {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__hh90U:global(.__wab_instance) {
  position: relative;
}
.svg__nVVoX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___3AsWo {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__fdUQl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xBl6G:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__xBl6G:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__tJVkn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ol9Ns {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__mBKnD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__d1QIw:global(.__wab_instance) {
  position: relative;
}
.svg__nfca6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__itc1W {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__ri9B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bv2Ah:global(.__wab_instance) {
  position: relative;
}
.svg__w8Yn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___5Gf4W {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__g1Jmx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___7P6Uq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7P6Uq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 930px) {
  .freeBox___7P6Uq {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox___7P6Uq > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___7P6Uq > :global(.__wab_flex-container) > *,
  .freeBox___7P6Uq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7P6Uq > :global(.__wab_flex-container) > picture > img,
  .freeBox___7P6Uq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__nejmc:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__nejmc:global(.__wab_instance) {
    display: none;
  }
}
.svg__rqHwb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zWsqN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
